<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}LanzaXperience{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'pages:home' %}">Home</a> |

      {% if user.is_authenticated %}
        <a href="{% url 'pages:dashboard' %}">Dashboard</a> |
        <a href="{% url 'accounts:logout' %}">Salir</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">Login</a> |
        <a href="{% url 'accounts:register' %}">Registro</a>
      {% endif %}
    </nav>


    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
