{% extends "layouts/dashboard_base.html" %}
{% block dashboard_content %}
<h1>Reservas Recibidas</h1>

<ul>
  {% for b in bookings %}
    <li>
      <strong>
        <a href="{% url 'experiences:detail' b.experience.pk %}">
          {{ b.experience.title }}
        </a>
      </strong>
      <br>
      Cliente: {{ b.traveler.username }} |
      Fecha: {{ b.date }} |
      Personas: {{ b.people }} |
      Estado: {{ b.status }}

      {% if b.status == "pending" %}
        <br>
        <a href="{% url 'bookings:accept' b.pk %}">Aceptar</a>
        |
        <a href="{% url 'bookings:reject' b.pk %}">Rechazar</a>
      {% endif %}
    </li>
    <hr>
  {% empty %}
    <p>No tienes reservas todavía.</p>
  {% endfor %}
</ul>
{% endblock %}
